In [ ]:
print(39 & 120)

In [ ]:
print(bin(39))

In [ ]:
print(bin(120))

In [ ]:
print(67<<5)

In [ ]:
print(bin(67))

In [ ]:
a=9
b=4
print(a/b)

In [ ]:
# my_str='python'
# my_str1='klj'
# print(my_str.center(90,'*'))

my_str='peter piper picked a peck of pickled peppers'



print(my_str.find('z',1,20))

print(my_str.index('rs'))

In [ ]:
my_str='    This is python class '
my_str.strip()
my_str.lstrip()
my_str.rstrip()
#print(my_str)

In [ ]:
marks= (int(input('Enter the marks')))
if marks > 90 and marks < 100:
    Print("Grade A")
elif marks > 80 and marks < 90:
    Print("Grade B")
else :
    Print("Grade C")

my_str='    This is python class '
my_str.split()

In [ ]:
marks= (int(input('Enter the marks')))
if marks > 90 and marks < 100:
    print('Grade A')
elif marks > 80 and marks < 90:
    print('Grade B')
elif marks > 70 and marks < 80:
    print('Grade C')
elif marks > 80 and marks < 90:

In [ ]:
ch= (input('Enter the char'))
if ch=='a' and ch=='e' and ch=='i' and ch=='o' and ch=='u':
   print('Vowel')
elif len(ch)>1:
   print('Enter a single character')
else : 
   print('consonent')

In [1]:
count=(int(input('Enter the number of calls')))
if count <= 100 :
    rate= 200
elif count > 100 and count <= 150 :
    rate =200+(count-100)*0.6
elif count > 150 and count <= 200 :
     rate =200+(count-100)*0.5
elif count > 200  :
     rate =200+(count-100)*0.4
        
print(rate)        
  my_str

Enter the number of calls101
200.6

In [10]:
print("""This is
  Python 
   class""")

This is
  Python
   class

In [45]:
my_str = 'peter piper picked a peck of pickled peppers'

# Total lenght of this string - using loop
# Total count of charcter 'p' - using loop
# ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers']

count1=0
count2=0
new_str=''
out_list=[]
for count in my_str:
 count1=count1+1
 if count == 'p' or count=='P' :
   count2=count2+1

 if count != ' ':
    new_str=new_str+count
#     print("here ",new_str)
 else :
#     print("here1 ")
    out_list.append(new_str)
    new_str=''

    
print("count :-",count1,"\n")
print('count of p:- ',count2)
my_str.split()
print("My list is :- ", out_list)

count :- 44

count of p:-  9
My list is :-  ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled']

In [48]:

#['sreppep', 'delkcip', 'fo', 'kcep', 'a', 'dekcip', 'repip', 'retep']

my_str = 'peter piper picked a peck of pickled peppers'
      
count1=0
count2=0
new_str=''
out_list=[]
reverse_string=my_str[::-1]
print("reverse string :- ",reverse_string)
for count in reverse_string:
 count1=count1+1
 if count == 'p' or count=='P' :
   count2=count2+1

 if count != ' ':
    new_str=new_str+count
#     print("here ",new_str)
 else :
#     print("here1 ")
    out_list.append(new_str)
    new_str=''

    
print("count :-",count1,"\n")
print('count of p:- ',count2)
my_str.split()
print("My list is :- ", out_list)

reverse string :-  sreppep delkcip fo kcep a dekcip repip retep
count :- 44

count of p:-  9
My list is :-  ['sreppep', 'delkcip', 'fo', 'kcep', 'a', 'dekcip', 'repip']

In [3]:
[i**2 if i%2==0 else i**3 for i in range(1,10)]

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [ ]:
lst_email = ['abhishek@learnbay.co', 'rahul@learnbay.co', 'suresh@learnbay.co',
            'Aditya@learnbay.co', 'manohar@learnbay.co', 'Ankit@learnbay.co']

# give me a list of user names of all those email ids for which length of user name is more than 5
lst=[]
for i in lst_email :
    j=i.index('@')
#     print(j)
    temp=i[0:i.index('@')]
    if(len(temp)>5):
        lst = lst + [temp]
#     print(temp)
print("list ", lst)

In [ ]:
a='10'
b='10'
a=input
print(a==b)
print(id(a))
print(id(b))

In [4]:
out_lst = [[101,'abhishek@learnbay.co'], [102,'rahul@learnbay.co'], 
           [103, 'suresh@learnbay.co'], [104, 'Aditya@learnbay.co'], 
           [105, 'manohar@learnbay.co'], [106, 'Ankit@learnbay.co']]

lst_email = ['abhishek@learnbay.co', 'rahul@learnbay.co', 'suresh@learnbay.co',
            'Aditya@learnbay.co', 'manohar@learnbay.co', 'Ankit@learnbay.co']

lst_id = [101, 102, 103, 104, 105, 106]
[[lst_id[j], lst_email[i]] for j in range(len(lst_id)) for i in range(len(lst_email)) if i == j]

[[101, 'abhishek@learnbay.co'],
 [102, 'rahul@learnbay.co'],
 [103, 'suresh@learnbay.co'],
 [104, 'Aditya@learnbay.co'],
 [105, 'manohar@learnbay.co'],
 [106, 'Ankit@learnbay.co']]

In [6]:
list(zip('python','class'))

[('p', 'c'), ('y', 'l'), ('t', 'a'), ('h', 's'), ('o', 's')]

In [3]:
fruits=["apples","","mangoes","custard apples"]
out_lst=[]
for each in fruits:
     if "apples" in each:
            out_lst.append(each)
            out_lst.append(each.u())
print(out_lst)

['apples', 'Apples', 'custard apples', 'Custard Apples']

In [8]:
fruits_ = ['apple ', "  Pineapple", 'Orange ', '   banana ', 'kiwI', 'cuSTArd Apples   ']
[i for i in fruits_ if  'apple' in i.lower()]
[i.title()  if 'apple' in i.lower() else i.upper() for i in fruits_]

['Apple ', '  Pineapple', 'ORANGE ', '   BANANA ', 'KIWI', 'Custard Apples   ']

In [13]:
mlst=[10,1,11,1,29,876,768,10,11,1,92,29,876]  #remove duplicates
rlst=[]
for i in mlst:
    if i not in rlst:
        rlst.append(i)
print(rlst)
Output=[]
[Output.append(i) for i in mlst if i not in Output]
print(Output)

[10, 1, 11, 29, 876, 768, 92]
[10, 1, 11, 29, 876, 768, 92]

In [15]:
input_list =  [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]  # argument_ : (5, 4)

input_list.sort(key = lambda argument_ : argument_[0])  # 2 5 5 7 9 
print(input_list)

input_list.sort(key = lambda argument_ : argument_[1])  # 1 3 4 5 6 9
print(input_list)

[(2, 3), (5, 4), (5, 9), (5, 5), (7, 6), (9, 1)]
[(9, 1), (2, 3), (5, 4), (5, 5), (7, 6), (5, 9)]

In [33]:
str="This is a python class"
print(str[len(str):0:-1]+str[0])

ssalc nohtyp a si sihT

In [24]:
 #Write a Python program to find the list of words that are longer than or equal to 4 from a given string.
    #Input:- 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
    #Output:- ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']
    #Note:- Duplicate should be avoided.
inp_str='How much wood would a woodchuck chuck if a woodchuck could chuck wood'
[each for each in set(inp_str.split(' ')) if len(each) >= 4]

['could', 'would', 'chuck', 'wood', 'woodchuck', 'much']

In [34]:
setA = {2, False, 8.02, -5, 'python', 5, 2, False, "A", True}
setA

{-5, 2, 5, 8.02, 'A', False, True, 'python'}

In [35]:
setA.add('ghjk',30.5)

TypeError: add() takes exactly one argument (2 given)

In [36]:
setA.pop('A')

TypeError: pop() takes no arguments (1 given)

In [37]:
setA

{-5, 2, 5, 8.02, 'A', False, True, 'python'}

In [38]:
setA

{-5, 2, 5, 8.02, 'A', False, True, 'python'}

In [39]:
setA.add("open")

In [40]:
setA

{-5, 2, 5, 8.02, 'A', False, True, 'open', 'python'}

In [ ]:
set2={1,2,3.4,(2,3,4),"sameer"}
set2.update([6+3j,3.4],'kashif bilal khan',(9,0,45))
len(set2)
print(set2)

In [2]:
np=eval(input("Entyer the number :-"))

sq_fun= lambda x:x*x
print(sq_fun(np))

Entyer the number :-rty

NameError: name 'rty' is not defined